<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <script src="/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.6.0-web/css/all.min.css">

    <!-- css header -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/header_.css">

    <!-- css khách hàng -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/khachhang.css">

    <!-- css sản phẩm -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/sanpham.css">

    <!-- css thống kê -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/thongke.css">
    <!-- css duyệt đơn -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/duyetdon.css">
    <!-- css trang cá nhân -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/trangcanhan.css">
    <title>Sản phẩm</title>


    
</head>
<body>

  <header class="header">
    <div class="container_header">

      <!-- logo -->
      <div class="header_logo">
        <img src="/public/assets/images/logo_den.jpg" alt="Logo">
      </div>

      <!-- tool -->
      <div class="header_tool">
        <div class="header_tool_item">
          <a href="trangcanhan.html"><i class="fa-regular fa-user" ></i></a>
        </div>
        <div class="header_tool_item">
          <i class="fa-regular fa-bell" ></i>
        </div>
        <div class="header_tool_item">
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="header_tool_item">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
        
      </div>
    </div>

  </header>

  <div class="container_main">
    <nav class="nav">
      <ul class="list_tool">
        <li class="list_tool_item"><i class="fa-solid fa-bag-shopping"></i><a href="./sanpham.html"> SẢN PHẨM</a></li>
        <li class="list_tool_item"> <i class="fa-solid fa-user"></i> <a href="./khachhang.html">KHÁCH HÀNG</a></li>
        <li class="list_tool_item"><i class="fa-solid fa-chart-simple"></i><a href="./thongke.html"> THỐNG KÊ</a></li>
        <li class="list_tool_item"><i class="fa-solid fa-check"></i><a href="./duyetdon.html"> DUYỆT ĐƠN</a></li>
      </ul>
    </nav>

    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container_left">
                        <!-- Phan lam -->
                        <div class="search-container">
                            <div class="search-box-sp">
                                <input type="text" id="search" placeholder="Nhập từ khóa tìm kiếm">                    
                            </div>
                        </div>
                        <div class="container_table">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Giá bán</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>Giày Nike Đỏ</td>
                                    <td>GiayNike123</td>
                                    <td>                                                 
                                        <div class="header_img">
                                            <img src="/public/assets/images/products/GiayNike_Do.jpg" alt="">
                                        </div>
                                    <td>1000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container_right">
                        <div class="search-container">
                            <div class="search-box-pay">
                                <input type="text" id="search" placeholder="Nhập từ khóa tìm kiếm">                    
                            </div>
                        </div>
                        <div class="container_payment ">
                            <h5 class="text-center">THANH TOÁN</h5>
                          <div class="title_payment">
                            <p>Tên khách hàng: </p>
                            <p>Số điện thoại: </p>
                            <p>Nhân viên bán hàng:</p> 
                          </div>
                          <div class="content_payment">
                            <table class="table">
                              <thead>
                                <th>Tên sản phẩm</th>
                                <th>Giá </th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                              </thead>
                              <tbody>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tbody>
                            </table>
                          </div>

                          <div class="action_payment">
                            <button type="button" class="btn bg-dark text-white">Tạm tính</button>
                            <button type="button" class="btn bg-dark text-white">Thanh toán</button>
                          </div>  

                        </div>    
                                    
                    </div>
                </div>   

            
            </div>
        </div>
        
    </main>

  </div>

  <footer class="footer">


  </footer>

</body>
</html>

