<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap w3school-->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">

    <script src="/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.6.0-web/css/all.min.css">

    <!-- css header -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/header_.css">

    <!-- css khách hàng -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/khachhang.css">

    <!-- css sản phẩm -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/sanpham.css">

    <!-- css thống kê -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/thongke.css">
    <!-- css duyệt đơn -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/duyetdon.css">
    <!-- css trang cá nhân -->
    <link rel="stylesheet" href="/app/views/employee/assetss/css/trangcanhan.css">
    <title>Thống kê</title>



    
</head>
<body>

  <header class="header">
    <div class="container_header">

      <!-- logo -->
      <div class="header_logo">
        <img src="/public/assets/images/logo_den.jpg" alt="Logo">
      </div>

      <!-- tool -->
      <div class="header_tool">
        <div class="header_tool_item">
          <a href="trangcanhan.html"><i class="fa-regular fa-user" ></i></a>
        </div>
        <div class="header_tool_item">
          <i class="fa-regular fa-bell" ></i>
        </div>
        <div class="header_tool_item">
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="header_tool_item">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
        
      </div>
    </div>

  </header>

  <div class="container_main">
    <nav class="nav">
      <ul class="list_tool">
        <li class="list_tool_item"><i class="fa-solid fa-bag-shopping"></i><a href="./sanpham.html"> SẢN PHẨM</a></li>
        <li class="list_tool_item"> <i class="fa-solid fa-user"></i> <a href="./khachhang.html">KHÁCH HÀNG</a></li>
        <li class="list_tool_item"><i class="fa-solid fa-chart-simple"></i><a href="./thongke.html"> THỐNG KÊ</a></li>
        <li class="list_tool_item"><i class="fa-solid fa-check"></i><a href="./duyetdon.html"> DUYỆT ĐƠN</a></li>
      </ul>
    </nav>

    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container_left">
                        <!-- Phan lam -->
                        <table class="table table-bordered text-center">
                            <thead>
                              <tr>
                                <th>Danh sách sản phẩm bán chạy</th>                                         
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>                                         
                              </tr>
                              <tr>
                                <td></td>                                           
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                            
                    </div>
                    <div class="container_statistical">
                      
                          <button type="button" class="btn_statistical bg-dark text-white">Ngày</button>
                          <button type="button" class="btn_statistical bg-dark text-white">Tuần</button>
                          <button type="button" class="btn_statistical bg-dark text-white">Tháng</button>
                      
                    </div>
                    <div class="text">
                      <h4>Doanh thu:</h4>                                        
                    </div>
              
                      
                
                </div>
                <div class="col-lg-6">
                    <div class="container_right">
                        <table class="table table-bordered text-center">
                            <thead>
                              <tr>
                                <th>Danh sách đổi trả trong tháng</th>                                         
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>                                         
                              </tr>
                              <tr>
                                <td></td>                                           
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="container_report">   
                          <button type="button" class="btn_report bg-dark text-white">Xuất báo cáo</button>
                          </div>              
                    </div>
                </div>   

            
            </div>
        </div>
         
    </main>

  </div>

  <footer class="footer">


  </footer>

</body>
</html>

