.container_error, .title_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_error > p{
    font-size: 200px;
    margin: 55px 0px;
}

.title_error_item{
    font-size: 24px;
    font-weight: 500;
}