.cart_title, .payment_title{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.cart_contents_table{
    border: 1px solid rgb(224, 224, 224);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
}

/* products */

.cart-table-thumb{
    position: relative;
}

.cart-table-img{
    margin: 5px 12px;
    width: 90px;
}

.cart-table-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-table-remove{
    top: 5px;
    left: 5px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    font-size: 11px;
    width: 27px;
    height: 27px;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-table-title{
    width: 70%;
    margin: 0px 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cart-table-name{
    font-size: 20px;
    font-weight: 600;
}

.cart-table-group{
    width: 120px;
    display: flex;
    flex-flow: column;
}

.cart-table-price{
    margin-right: 15px;
    line-height: 45px;
    text-align: right;
}

.cart-table-count{
    margin-top: 5px;
    text-align: right;
    margin-right: 15px;

}

.cart-table-minus, .cart-table-plus{
    border: 1px solid rgb(226, 226, 226);
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.cart-table-number{
    border: 1px solid rgb(226, 226, 226);
    width: 35px;
    outline: none;
    border-radius: 5px;
    text-align: center;
}



/* ----------------------------------------------------- */

.cart_contents_note{
    margin-top: 30px;
}

.payment_contents_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment_contents_total_p{
    color: #333;
    margin: 0;
    font-size: 20px;
}

.payment_block_price span{
    color: red;
    font-size: 30px;
    font-weight: 500;
}

.payment_contents_action_erorr{
    display: none;
    padding: 10px;
    color: rgb(219, 55, 56);
    background-color: rgb(254, 227, 232);
    border-radius: 5px;
}

.payment_contents_action_btn button{
    width: 100%;
    background-color: #333;
    border: none;
    color: white;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 10px;
}