.detail_bill_container{
    margin-top: 50px;
}

.detail_bill_active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.detail_bill span{
    font-weight: 500;
    font-size: 18px;
}

.detail_bill_active button{
    outline: none;
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #333;
    font-size: 16px;
    font-weight: 500;
}

.btn_comment{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: #333;
    width: 90px;
    height: 35px;
}

.detail_bill_active button:hover, .btn_comment:hover{
    border: 1px solid #333;
    color: #333;
    background-color: #ffffff;
}

.detail_bill_active a{
    color: #333;
    text-decoration: none;
}

/* comment */
#container_comment{
    background-color: rgba(60, 60, 60, 0.5);
    display: none;
}


