.container_infor_control{
    margin-top: 50px;
}

.sidebar_list{
    margin: 0;
    padding: 0;
}

.sidebar_list li{
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 500;
}

.sidebar_list li:hover{
    cursor: pointer;
    /* background-color: #333; */
    /* color: white; */
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.highlight{
    /* padding: 20px; */
    color: rgb(109, 109, 109);
}

.content {
    padding: 15px;
}

.content-section {
    display: none;
}

.title_infor{
    font-size: 55px;
}

.title_infor_name{
    font-weight: 500;
}

.purchase_history{
    margin-top: 50px;
}

.purchase_history:hover, .promotion:hover{
    color: #818181;
    cursor: pointer;
}

.mail_contents{
    margin: 40px;
}

#purchase_history_show_hidden{
    display: none;
    /* display: block; */
}


.infor_update_item{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    width: 90%;
    border: 0.5px solid #cbcbcb;
    padding: 20px;
    /* justify-content: center; */
}

.infor_update_item span{
    width: 15%;
    /* height: 30px; */
}

.infor_update_item_text{
    width: 75%;
    height: 45px;
    /* border-radius: 5px; */
    outline: none;
    border:none;
    padding: 10px;
    margin: 0;
}

.infor_update_item i{
    margin-left: 30px;
    cursor: pointer;
}

.infor_update{
    position: relative;
}

.change_info_box{
    position: absolute;
    left: 33%;
    top: 30%;
}

.change_info_box_content{
    display: none;
    position: relative;
    padding: 20px;
    width: 500px;
    background-color: rgba(255, 255, 255); /* Nền mờ */
    height: 300px;
    border: 0.5px solid rgb(183, 183, 183);
    border-radius: 5px;
}

.close_change{
    position: absolute;
    right: 0;
    border: 1px solid rgb(255, 255, 255);
    width: 34.5px;
    height: 34px;
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 50%;
    text-align: center;
}

.close_change:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #333;
    color: white;
    
}

.change_info_box_content p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.change_info_box_content span{
    color: red;
}

.change_item{
    width: 100%;
    height: 50px;
    margin: 40px 0px;
}

.change_item input{
    border-radius: 5px;
    border: 0.5px solid rgb(194, 194, 194);
    outline: none;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    
}

.change_info_box_content button{
    outline: none;
    border: 1px solid white;
    background-color: #333;
    color: white;
    /* margin: 0px 156px; */
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    height: 55px;
}

.change_info_box_content button:hover{
    color: #333;
    background-color: white;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

/* Password ---------------------------------------------- */
.change_info_box_content_pass{
    display: none;
    position: relative;
    padding: 20px;
    width: 500px;
    background-color: rgba(255, 255, 255);
    height: 420px;
    border: 0.5px solid rgb(183, 183, 183);
    border-radius: 5px;
}

.change_info_box_content_pass p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.change_info_box_content_pass span{
    color: red;
}

.change_item_pass{
    width: 100%;
    height: 50px;
    margin: 40px 0px;
    
}

.change_item_pass input{
    border-radius: 5px;
    border: 0.5px solid rgb(194, 194, 194);
    outline: none;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.change_info_box_content_pass button{
    outline: none;
    border: 1px solid white;
    margin-top: 150px;
    background-color: #333;
    color: white;
    /* margin: 0px 156px; */
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    height: 55px;
}

.change_info_box_content_pass button:hover{
    color: #333;
    background-color: white;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

/* ---------------------------------------------------- */

