.container_infor_control{
    margin-top: 50px;
}

.sidebar_list{
    margin: 0;
    padding: 0;
}

.sidebar_list li{
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 500;
}

.sidebar_list li:hover{
    cursor: pointer;
    /* background-color: #333; */
    /* color: white; */
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.highlight{
    /* padding: 20px; */
    color: rgb(109, 109, 109);
}

.content {
    padding: 15px;
}

.content-section {
    display: none;
}

.title_infor{
    font-size: 55px;
}

.title_infor_name{
    font-weight: 500;
}

.purchase_history{
    margin-top: 50px;
}

.purchase_history:hover, .promotion:hover{
    color: #818181;
    cursor: pointer;
}

.mail_contents{
    margin: 40px;
}

#purchase_history_show_hidden{
    display: none;
    /* display: block; */
}


.infor_update_item{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    width: 90%;
    border: 0.5px solid #cbcbcb;
    padding: 20px;
    /* justify-content: center; */
}

.infor_update_item span{
    width: 15%;
    /* height: 30px; */
}

.infor_update_item_text{
    width: 75%;
    height: 45px;
    /* border-radius: 5px; */
    outline: none;
    border:none;
    padding: 10px;
    margin: 0;
}

.infor_update_item i{
    margin-left: 30px;
    cursor: pointer;
}

.infor_update{
    position: relative;
}

.modal_change{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(168, 168, 168, 0.5); 
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal_container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.modal_header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.modal_header_remove{
    position: absolute;
    right: 0px;
    font-size: 16px;
    background: #ffffff;
    width: 30px;
    height: 30px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.modal_header_remove:hover{
    background-color: #333;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.modal_body{
    margin: 40px 0px;
}

.modal_body input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #a1a1a1;
    padding: 10px
}

.modal_body_pass{
    position: relative;
}

.modal_body_pass i{
    position: absolute;
    top: 39.5px;
    right: 15px;
    cursor: pointer;
}

.modal_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_footer button{
    border: #333;
    background: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}