

.title p{
    font-weight: 400;
    font-size: 30px;
}

.infor_payment_title p{
    font-size: 18px;
    font-weight: 500;
}

.infor_payment_login{
    color: rgb(170, 170, 170);
}

.infor_payment_login a{
    text-decoration: none;
    color: black;
}

.container_infor_payment > p{
    margin-top: 10px ;
    font-size: 20px;
    font-weight: 400;
}   

.infor_payment_method_title p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.infor_payment_method_content_choose{
    margin: 20px 0;
}

.content_transfer{
    margin: 20px 16px;
    text-align: center;
    width: 80%;
    padding: 15px;
    color: white;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.infor_payment_btn{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor_payment_btn_cart{
    text-decoration: none;
    color: black;
}


.infor_payment_btn_continue{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    height: 45px;
    font-weight: 500;
    width: 210px;
    border-radius: 5px;
    outline: none;
    background-color: #333;
}

.list_infor_products_payment_item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.infor_payment_item_group_product{
    display: flex;
}

.text_infor_payment_item{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

.text_infor_payment_item span{
    font-size: 14px;
    color: rgb(144, 144, 144);
}

.img_infor_payment_item{
    width: 110px;
    
}

.img_infor_payment_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expense_item, .total_bill{
    display: flex;
    align-items: center;
}

.expense_item span,  .total_bill_label {
    width: 50%;
    color: rgb(144, 144, 144);
}

.expense_item p, .total_bill_due{
    width: 50%;
    text-align: right;
}

.total_bill_due_price{
    font-size: 30px;
    font-weight: 400;
    margin: 0 10px;
}

#btn_confirm_account{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    line-height: 45px;
    font-weight: 500;
    width: 205px;
    border-radius: 5px;
    outline: none;
    background-color: #333;
}

.code_confirm{
    position: relative;
}

#btn_code{
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}

.key_frame_spin{
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% {
    transform: rotate(0deg); 
    }
    100% {
    transform: rotate(360deg); 
    }
}


/* confirm payment modal */
.confirm_payment{
    display: none;
    /* display: flex; */
    position: fixed;
    background-color: rgb(170, 170, 170, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.container_comfirm{
    width: 200px;
    background-color: rgb(255, 255, 255);
    color:  rgb(0, 255, 0);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 50%;
    border: 0.5px solid #ffffff;
}

.loading-circle {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3; 
    border-top: 2px solid #333;
    border-radius: 50%; 
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% {
    transform: rotate(0deg); 
    }
    100% {
    transform: rotate(360deg); 
    }
}