

.title p{
    font-weight: 400;
    font-size: 30px;
}

.infor_payment_title p{
    font-size: 18px;
    font-weight: 500;
}

.infor_payment_login{
    color: rgb(170, 170, 170);
}

.infor_payment_login a{
    text-decoration: none;
    color: black;
}

.container_infor_payment > p{
    margin-top: 10px ;
    font-size: 20px;
    font-weight: 400;
}   

.infor_payment_method_title p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.infor_payment_method_content_choose{
    margin: 20px 0;
}

.content_transfer{
    margin: 20px 16px;
    text-align: center;
    width: 80%;
    padding: 15px;
    color: white;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.infor_payment_btn{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor_payment_btn_cart{
    text-decoration: none;
    color: black;
}


.infor_payment_btn_continue{
    text-align: center;
    border: none;
    color: white;
    height: 45px;
    font-weight: 500;
    width: 195px;
    border-radius: 5px;
    outline: none;
    background-color: #333;
}

.list_infor_products_payment_item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.infor_payment_item_group_product{
    display: flex;
}

.text_infor_payment_item{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

.text_infor_payment_item span{
    font-size: 14px;
    color: rgb(144, 144, 144);
}

.img_infor_payment_item{
    width: 110px;
    
}

.img_infor_payment_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expense_item, .total_bill{
    display: flex;
    align-items: center;
}

.expense_item span,  .total_bill_label {
    width: 50%;
    color: rgb(144, 144, 144);
}

.expense_item p, .total_bill_due{
    width: 50%;
    text-align: right;
}

.total_bill_due_price{
    font-size: 30px;
    font-weight: 400;
    margin: 0 10px;
}