.header{
    height: 80px;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;
}

.container_header{
    position: relative;
}

.header_logo{
    position: absolute;
    left: 32px;
    width: 45px;
    line-height: 80px;
}

.header_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_tool{
    position: absolute;
    right: 32px;
    display: flex;
    color: white;
    line-height: 80px;
}

.header_tool_item{
    width: 30px;
    margin: 0px 10px;
}

.container_main{
    margin-top: 80px;
    display: flex;
}

.nav{
    background-color: #ff6900;
}

.list_tool{
    padding: 0;
    margin-top: 35px;
}

.list_tool_item{
    width: 240px;
    padding-left: 35px;
    line-height: 85px;
    font-size: 20px;
    color: white;
    list-style: none;
    
}

.list_tool_item:hover{
    background-color: rgb(77, 79, 88);
    color:rgb(84, 86, 87);
}

.main{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.list_tool_item a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
}
.list_tool_item i{
    margin-right: 12px;
    color: aliceblue;
}
.header_tool_item a{
    color:aliceblue ;
}

.ishere{
    background-color: rgb(77, 79, 88);
    color:rgb(84, 86, 87);
}