.table{
    margin: 30px;
    width: 90%;
}
.text{
  margin-top: 55px;

}
.btn_statistical{
  color:aliceblue;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  margin-top: 150px;
  margin-left: 30px;
  width: 75px;
  font-weight: 500;
}
.btn_report{
  color:aliceblue;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  margin-top: 250px;
  margin-left: 420px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  
}