.wapper{
    margin: auto;
    max-width: 532px;
}

.img_logo img{
    width: 100%;
    height: 100%;
    
}

.img_logo{
    margin-top: 30px;
    width: 9%;
}

.head_title{
    
    font-size: 28px;
}

.form_s{
    margin-top: 60px;
}

.input_f{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid #818181 ;
    overflow: hidden;
    
    
}

#email_error, #password_error {
    color: red;
    display: inline; 
    padding: 5px 15px; 
    font-size: 12px;
}

.input_f input[type=text]:focus, .input_f input[type=password]:focus{
    width: 100%;
    border-radius: 10px;
    padding-left: 15px;
    border: none;
    outline: none;
}

.input_f input[type=text], .input_f input[type=password]{
    
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 15px;
}

.input_p{
    margin-top: 20px;
}

.text_e{
    color: rgb(117, 117, 117);
    margin-top: 80px;
}

.btn_group{
    position: relative;
    margin-top: 20px;
}

.btn_s{
    position: absolute;
    right: 0;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn_b{
    position: absolute;
    left: 0;
    top: 15px;
}

.btn_signup{
    position: absolute;
    top: 125px;
    left: 110px;
    
}