<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <script src="/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.6.0-web/css/all.min.css">

    <!-- css header -->
    <link rel="stylesheet" href="/public/assets/css/employee/header.css">
    <title>Trang chủ</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container_employee row">
            <div class="col-lg-2 header">
                <div class="header_logo">
                    <img src="/public/assets/images/logo_den.jpg" alt="">
                </div>
            </div>

            <div class="main_show col-lg-10">
                <nav class="nav">
                    <div class="nav_left">
                        <div class="nav_bar_icon">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div class="nav_bar_text">
                            <span>Home</span>
                        </div>
                    </div>
                    <div class="nav_right">
                        <div class="nav_bar_search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span>Tìm kiếm ... </span>
                        </div>
                        <div class="nav_bar_account">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>

                </nav>
                <main class="main">
                
                </main>
            </div>

        </div>
    </div>
</body>
</html>