<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <script src="/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.6.0-web/css/all.min.css">

    <!-- css header -->
    <link rel="stylesheet" href="/public/assets/css/customer/header.css">

    <!-- css home -->
    <link rel="stylesheet" href="/public/assets/css/customer/home.css">

    <!-- css footer -->
    <link rel="stylesheet" href="/public/assets/css/customer/footer.css">

    <title>Trang chủ</title>
</head>
<body>
        <header class="header">
            <nav class="header_nav">
                <div class="list_nav_after_hidden">
                    <i class="fa-solid fa-bars fa-lg" id="menu_icon"></i>
                </div>
                <div class="nav_logo">
                    <a href="#"><img src="/public/assets/images/logo_den.jpg" class="nav_logo_img" alt="HKN store"></a>                  
                </div>
                <ul class="nav_ul_list text-white" id="menu">
                    <li class="nav_ul_list_item header_link">
                        <a href="#" class="nav_ul_list_item_link">Trang chủ</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next list_products_subnav_item">
                        <a href="#" class="nav_ul_list_item_link">Sản phẩm</a>
                        <ul class="nav_ul_list_item_subnav">
                            <li class="nav_ul_list_item_subnav_item">
                                <a href="#" class="subnav_item_link">Thời trang thể thao</a>
                                <ul class="subnav_item_childen">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                </ul>
                            </li>
                            <li class="nav_ul_list_item_subnav_item">
                                <a href="#" class="subnav_item_link">Dụng cụ thể thao</a>
                                <ul class="subnav_item_childen">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                </ul>
                            </li>
                            <li class="nav_ul_list_item_subnav_item">
                                <a href="#" class="subnav_item_link">Phụ kiện thể thao</a>
                                <ul class="subnav_item_childen">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Tin tức</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Giới thiệu</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Liên hệ</a>
                    </li>
                </ul>
                <div class="nav_tool">
                    <form action="">
                        <div class="nav_tool_search">
                            <input type="text" placeholder="Tìm kiếm" id="nav_tool_search_input">
                            <i class="fa-solid fa-magnifying-glass" id="nav_tool_search_icon"></i>
                        </div>
                    </form>
                    <a href="#">
                        <div class="nav_tool_mark">
                            <div class="nav_tool_cart">
                                <i class="fa-solid fa-cart-shopping text-white"></i>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav_tool_mark">
                            <div class="nav_tool_user">
                                <i class="fa-solid fa-user text-white"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
        </header>
        <main class="main">
            <div class="container-fluid">
                <div class="home_slider">
                    <a href="#">
                        <img src="/public/assets/images/sliders/slider_demo_1.jpg" alt="slider1" class="home_slider_img">
                    </a>
                </div>
                <div class="home_slider">
                    <a href="#"></a>
                        <img src="/public/assets/images/sliders/slider_demo_2.jpg" alt="slider2" class="home_slider_img">
                    </a>
                </div>
                <div class="home_slider"></div>
                    <a href="#">
                        <img src="/public/assets/images/sliders/slider_demo_3.jpg" alt="slider3" class="home_slider_img">
                    </a>
                </div>
            </div>

            <!-- best sellers -->
            <div class="container-fluid container_best_sellers">
                <!-- top -->
                <div class="best_sellers_top">
                    <h2 class="best_sellers_top_text ">Ưa Thích Nhất</h2>
                    <div class="best_sellers_top_btn">
                        <button class="best_sellers_top_btn_left" id="prevBtn">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <button class="best_sellers_top_btn_right" id="nextBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                </div>

                <!--products -->
                
                <div class="best_sellers_products_list" id="productsList">
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                    <div class="best_sellers_products_list_card">
                        <img class="card-img-top best_sellers_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                        <div class="best_sellers_list_card_body">
                            <p class="best_sellers_list_card_body_title">Tên sản phẩm.</p>
                            <p class="best_sellers_list_card_body_kind">Loại sản phẩm.</p>
                            <p class="best_sellers_list_card_body_price">Giá sản phẩm.</p>
                        </div>
                    </div>
                
                </div>
            </div>

            <!-- banner -->
            <a href="#" style="text-decoration: none;">
                <div class="container_banner">
                    <div class="banner text-center">
                        <div class="banner_title">
                            <p>giảm mạnh 40%</p>
                        </div>
                        <div class="banner_content">
                            <p>lựa chọn theo phong cách của bạn</p>
                        </div>
                        <div class="banner_btn">
                            <button class="banner_btn_item">Men</button>
                            <button class="banner_btn_item" style="margin: 0 15px;">Women</button>
                            <button class="banner_btn_item">Kid</button>
                        </div>
                    </div>
                </div>
            </a>

            <!-- new products -->
            <div class="container_new_products">
                <!-- top -->
                <div class="new_products_top">
                    <h2 class="new_products_top_text text-center">Sản Phẩm Mới</h2>
                </div>
                <!-- prroducts -->
                <div class="container_new_products_list">
                    <!-- btnPrev -->
                    <button class="new_products_list_btn_left" id="newPrevBtn">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="new_products_list" id="newProductsList">
                        <!-- list new product -->
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                        <div class="new_products_list_card">
                            <img class="card-img-top new_products_list_card_img" src="/public/assets/images/products/ao-the-thao-nam-demo.jpg" alt="Card image" style="width:100%">
                            <div class="new_products_list_card_body">
                                <p class="new_products_list_card_body_title">Tên sản phẩm.</p>
                                <p class="new_products_list_card_body_kind">Loại sản phẩm.</p>
                                <p class="new_products_list_card_body_price">Giá sản phẩm.</p>
                            </div>
                        </div>
                    </div>
                    <!-- btnNext -->
                    <button class="new_products_list_btn_right" id="newNextBtn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container container_footer">
                <div class="footer_content">
                    <p>THÔNG TIN CHUNG </p> 
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>256 Nguyễn Văn Cừ An Hòa 94108 Cần Thơ</span>
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-phone"></i>
                        <span >+84 292 3898 167</span> 
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-envelope"></i>
                        <span>hknstore@gmail.com</span> 
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-paper-plane"></i>
                        <span>Gửi phản hồi</span>
                    </a>
                </div>
                <div class="footer_content">
                    <p>HƯỚNG DẪN</p>  
                    <a href="#" class="footer_content_item">Hướng dẫn mua hàng</a>
                    <a href="#" class="footer_content_item">Hướng dẫn thanh toán</a>
                    <a href="#" class="footer_content_item">Hướng dẫn đổi trả</a>
                </div>
                <div class="footer_content">
                    <p>MẠNG XÃ HỘI</p>
                    <a href="#" class="footer_content_item"><i class="fa-brands fa-facebook"></i> facebook</a>
                    <a href="#" class="footer_content_item"><i class="fa-brands fa-instagram"></i> instagram</a>
                    <a href="#" class="footer_content_item"><i class="fa-solid fa-z"></i> zalo</a>
                </div> 
            </div>

            <hr class="footer_hr">

            <div class="container copyright">
                <p class="text-center" style="margin-bottom: 0;">Bản quyền © 2024 bởi HKN store</p>
            </div>
        </footer>
    <script src="/public/assets/js/customer/header.js"></script>

    <script src="/public/assets/js/customer/home.js"></script>
</body>
</html>