<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Cuahangdungcu/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CuaHangDungCu/public/assets/css/customer/home.css">
    <title>Trang chủ</title>
</head>
<body>
        <header class="header">
            <nav class="header_nav">
                <div class="nav_logo">
                    <img src="" alt="HKN store">
                </div>
                <ul class="nav_ul_list text-white ">
                    <li class="nav_ul_list_item">Trang chủ</li>
                    <li class="nav_ul_list_item">Sản phẩm</li>
                    <li class="nav_ul_list_item">Tin tức</li>
                    <li class="nav_ul_list_item">Giới thiệu</li>
                    <li class="nav_ul_list_item">Liên hệ</li>
                </ul>
            </nav>
        </header>
        <main>
    
        </main>
        <footer>
    
        </footer>
</body>
</html>