<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <script src="/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.6.0-web/css/all.min.css">

    <!-- css header -->
    <link rel="stylesheet" href="/public/assets/css/customer/header.css">

    <!-- css home -->
    <link rel="stylesheet" href="/public/assets/css/customer/home.css">

    <!-- css products -->
    <link rel="stylesheet" href="/public/assets/css/customer/product.css">

    <!-- css news -->
    <link rel="stylesheet" href="/public/assets/css/customer/news.css">

    <!-- css introduce -->
    <link rel="stylesheet" href="/public/assets/css/customer/introduce.css">

    <!-- css contact -->
    <link rel="stylesheet" href="/public/assets/css/customer/contact.css">

    <!-- css cart -->
    <link rel="stylesheet" href="/public/assets/css/customer/cart.css">

    <!-- details -->
    <link rel="stylesheet" href="/public/assets/css/customer/details.css">
    
    <!-- payment -->
    <link rel="stylesheet" href="/public/assets/css/customer/payment.css">

    <!-- information -->
    <link rel="stylesheet" href="/public/assets/css/customer/information.css">

    <!-- css footer -->
    <link rel="stylesheet" href="/public/assets/css/customer/footer.css">

    

    <title>Thông tin</title>
</head>
<body>
        <header class="header">
            <nav class="header_nav">
                <div class="list_nav_after_hidden">
                    <i class="fa-solid fa-bars fa-lg" id="menu_icon"></i>
                </div>
                <div class="nav_logo">
                    <a href="#"><img src="/public/assets/images/logo_den.jpg" class="nav_logo_img" alt="HKN store"></a>                  
                </div>
                <ul class="nav_ul_list text-white" id="menu">
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Trang chủ</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next list_products_subnav_item">
                        <a href="#" class="nav_ul_list_item_link">Sản phẩm</a>
                        <ul class="nav_ul_list_item_subnav">
                            <li class="nav_ul_list_item_subnav_item sub_menu_products" >
                                <a href="#" class="subnav_item_link"><i class="fa-solid fa-plus sub_icon"></i> Thời trang thể thao </a>
                                <ul class="subnav_item_childen sub_menu_products_list">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 1</a></li>
                                </ul>
                            </li>
                            <li class="nav_ul_list_item_subnav_item sub_menu_products">
                                <a href="#" class="subnav_item_link"><i class="fa-solid fa-plus sub_icon"></i> Dụng cụ thể thao </a>
                                <ul class="subnav_item_childen">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sản phẩm lv 2</a></li>
                                </ul>
                            </li>
                            <li class="nav_ul_list_item_subnav_item sub_menu_products">
                                <a href="#" class="subnav_item_link"><i class="fa-solid fa-plus sub_icon"></i> Phụ kiện thể thao </a>
                                <ul class="subnav_item_childen">
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                    <li class="subnav_item_childen_item"><a href="#" class="childen_link">Sẩn phẩm lv3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Tin tức</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Giới thiệu</a>
                    </li>
                    <li class="nav_ul_list_item header_link_next">
                        <a href="#" class="nav_ul_list_item_link">Liên hệ</a>
                    </li>
                </ul>
                <div class="nav_tool">
                    <form action="">
                        <div class="nav_tool_search" id="nav_tool_search_box">
                            <input type="text" placeholder="Tìm kiếm" id="nav_tool_search_input">
                        </div>
                        <div class="nav_tool_search_icon_box" id="nav_tool_search_icon_box_btn">
                            <span class="nav_tool_search_icon_box_text">Tìm kiếm sản phẩm</span>
                            <i class="fa-solid fa-magnifying-glass" id="nav_tool_search_icon"></i> 
                        </div>
                        <button class="close_search_top" id="close_search_top_element">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <div class="nav_tool_box" id="nav_tool_box_recommend"></div>
                    </form>
                    <div class="nav_tool_mark">
                        <div class="nav_tool_cart">
                            <i class="fa-solid fa-cart-shopping text-white"></i>
                        </div>
                    </div>
                    <div class="nav_tool_mark" id="nav_tool_mark_id_user">
                        <div class="nav_tool_user">
                            <i class="fa-solid fa-user text-white"></i>
                        </div>
                    </div>
                    <div class="nav_tool_user_option_up">
                        <i class="fa-solid fa-caret-up"></i>
                    </div>
                    <div class="nav_tool_user_option" id="nav_tool_user_option_id_user">
                        <a href="#" style="text-decoration: none; color: black;">
                            <div class="option_sub">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <p>Đăng nhập</p>
                            </div>
                        </a>
                        <a href="#" style="text-decoration: none; color: black;">
                            <div class="option_sub">
                                <i class="fa-solid fa-user-plus"></i>
                                <p>Đăng ký</p>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="main">
            <!-- position sub -->
            <ul class="position_top">
            <li class="position_top_li_home">
                <a href="index.php" style="text-decoration: none; color: #333;">
                    <span class="position_top_main">Trang chủ</span>
                </a>
            </li>
            <li class="position_top_li">
                <span class="position_top_sub">Thông tin của bạn</span>
            </li> 
        </ul>
            <div class="container container_infor_control">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sidebar">
                            <ul class="sidebar_list">
                                <li onclick="showContent('overview', this)" class="view_infor">Hồ sơ</li>
                                <li onclick="showContent('mail', this)" class="view_infor">Hộp thư</li>
                                <li onclick="showContent('setting', this)" class="view_infor">Cài đặt</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="content">
                            <div id="overview" class="content-section">
                                <div class="title_infor">
                                    <span>Xin chào, </span>
                                    <span class="title_infor_name">Tên khách hàng</span>
                                </div>
                                <div class="purchase_history">
                                    <p id="purchase_history_btn">Lịch sử mua hàng <i class="fa fa-history" aria-hidden="true"></i></p>
                                </div>
                                <div class="purchase_history_show" id="purchase_history_show_hidden">
                                    <table class="table table-striped" >
                                        <thead>
                                            <tr>
                                                <th>Mã hóa đơn</th>
                                                <th>Tổng tiền</th>
                                                <th>Ngày xuất hóa đơn</th>
                                                <th>Trạng thái</th>
                                                <th>Tên khách hàng</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Doe</td>
                                                <td>john@example.com</td>
                                                <td>john@example.com</td>
                                                <td>john@example.com</td>
                                                <td><a href="#" style="color: #333;"><i class="fa-solid fa-eye "></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Mary</td>
                                                <td>Moe</td>
                                                <td>mary@example.com</td>
                                                <td>mary@example.com</td>
                                                <td>mary@example.com</td>
                                                <td><a href="#" style="color: #333;"><i class="fa-solid fa-eye "></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>July</td>
                                                <td>Dooley</td>
                                                <td>mary@example.com</td>
                                                <td>mary@example.com</td>
                                                <td>mary@example.com</td>
                                                <td><a href="#" style="color: #333;"><i class="fa-solid fa-eye "></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="promotion">
                                    <p>Các chương trình khuyến mãi dành cho bạn <i class="fa-solid fa-arrow-pointer"></i></p>
                                </div>
                                <div class="promotion_show">
            
                                </div>
                                
                            </div>
                            <div id="mail" class="content-section">
                                <div class="mail_contents">
                                    <p>Hiện chưa có.</p>
                                </div>
                            </div>
                            <div id="setting" class="content-section">
                                <div class="infor_update">
                                    <div class="infor_update_item">
                                        <span>Họ và tên</span>
                                        <input type="text">
                                        <i class="fa-regular fa-pen-to-square" onclick="showChangeBox('change_name', this)"></i>
                                    </div>
                                    
                                    <div class="infor_update_item">
                                        <span>Số điện thoại</span>
                                        <input type="text">
                                        <i class="fa-regular fa-pen-to-square" onclick="showChangeBox('change_phone', this)"></i>
                                    </div>
                                    
                                    <div class="infor_update_item">
                                        <span>Địa chỉ</span>
                                        <input type="text">
                                        <i class="fa-regular fa-pen-to-square" onclick="showChangeBox('change_address', this)"></i>
                                    </div>
            
                                    <div class="infor_update_item">
                                        <span>email</span>
                                        <input type="text">
                                        <i class="fa-regular fa-pen-to-square" onclick="showChangeBox('change_email', this)"></i>
                                    </div>
            
                                    <div class="infor_update_item">
                                        <span>mật khẩu</span>
                                        <input type="password">
                                        <i class="fa-regular fa-pen-to-square" onclick="showChangeBox('change_password', this)"></i>
                                    </div>
                                </div>
                                
                                <!-- hiện để chỉnh sửa thông tin -->
                                <div class="change_info_box">
                                    <div class="change_info_box_content" id="change_name">
                                        <div class="close_change">
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <p>Họ và tên</p>
                                        <div class="change_item">
                                            <input type="text">
                                        </div>
                                        
                                        <button>Lưu thay đổi</button>
                                    </div>
                                
                                
                                    <div class="change_info_box_content" id="change_phone">
                                        <div class="close_change">
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <p>Số điện thoại</p>
                                        <div class="change_item">
                                            <input type="text">
                                        </div>
                                        
                                        <button>Lưu thay đổi</button>
                                    </div>
                                
                                    
                            
                                    <div class="change_info_box_content" id="change_address">
                                        <div class="close_change">
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <p>Địa chỉ</p>
                                        <div class="change_item">
                                            <input type="text">
                                        </div>
                                        
                                        <button>Lưu thay đổi</button>
                                    </div>
                                

                                
                                    <div class="change_info_box_content" id="change_email">
                                        <div class="close_change">
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <p>Email</p>
                                        <div class="change_item">
                                            <input type="text">
                                        </div>
                                        
                                        <button>Lưu thay đổi</button>
                                    </div>
                                
                                    
                                
                                    <div class="change_info_box_content" id="change_password">
                                        <div class="close_change">
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <p>Mật khẩu</p>
                                        <div class="change_item">
                                            <input type="text">
                                        </div>
                                        
                                        <button>Lưu thay đổi</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            
        </main>
        <footer class="footer">
            <div class="container container_footer">
                <div class="footer_content">
                    <p>THÔNG TIN CHUNG </p> 
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>256 Nguyễn Văn Cừ An Hòa 94108 Cần Thơ</span>
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-phone"></i>
                        <span >+84 292 3898 167</span> 
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-envelope"></i>
                        <span>hknstore@gmail.com</span> 
                    </a>
                    <a href="#" class="footer_content_item">
                        <i class="fa-solid fa-paper-plane"></i>
                        <span>Gửi phản hồi</span>
                    </a>
                </div>
                <div class="footer_content">
                    <p>HƯỚNG DẪN</p>  
                    <a href="#" class="footer_content_item">Hướng dẫn mua hàng</a>
                    <a href="#" class="footer_content_item">Hướng dẫn thanh toán</a>
                    <a href="#" class="footer_content_item">Hướng dẫn đổi trả</a>
                </div>
                <div class="footer_content">
                    <p>MẠNG XÃ HỘI</p>
                    <a href="#" class="footer_content_item"><i class="fa-brands fa-facebook"></i> facebook</a>
                    <a href="#" class="footer_content_item"><i class="fa-brands fa-instagram"></i> instagram</a>
                    <a href="#" class="footer_content_item"><i class="fa-solid fa-z"></i> zalo</a>
                </div> 
            </div>

            <hr class="footer_hr">

            <div class="container copyright">
                <p class="text-center" style="margin-bottom: 0;">Bản quyền © 2024 bởi HKN store</p>
            </div>
        </footer>
    <script src="/public/assets/js/customer/header.js"></script>

    <script src="/public/assets/js/customer/home.js"></script>
    
    <script src="/public/assets/js/customer/details.js"></script>

    <script src="/public/assets/js/customer/information.js"></script>

</body>
</html>